body{
	width: 960px;
	padding-top: 75px;
	padding-left: 15%;
	background-image: url("images/petite-page.png");
  background-repeat: repeat;
}

div#main-container {
	background-color: white;
}

header a#deft {
	float: left;
}

header h1#slogan {
	color: rgb(159,26,40);
	font-size: 64px;
	padding-top: 100px;
	text-align: center;
}

div.clear {
	/*reset du float pour les élements HTML en dessous du div sur laquelle on applique cette classe*/
	clear: both;
}

div#search-zone {
	float: right;
	padding-top: 5px;
	padding-right: 10px;
}

div#search-zone input#field {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px black;
}

img#logo-loupe {
	width: 10px;
	height: 10px;
}

div#search-zone button#button {
	border-radius: 50%;
}

nav {
	text-align: center;
}

nav ul
{
    list-style-type: none;
		padding: 0px;
		padding-left: 23px;
}

nav ul li
{
	float: left;
	padding-right: 10px;
	text-decoration: none;
}

nav ul li a.nav-link, nav ul li a.nav-link:active, nav ul li a.nav-link:hover {

}

nav ul li a.nav-link {
	text-decoration: none;
	color: white;
	background-color: rgb(37,42,71);
	border: solid 1px white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	display: block;
	width: 200px;
	font-weight: bold;
}

nav ul li a.nav-link:hover {
	text-decoration: none;
	color: rgb(37,42,71);
	background-color: white;
	border: solid 1px rgb(37,42,71);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	display: block;
	width: 200px;
	font-weight: bold;
}

nav ul li a.nav-link:active {
	text-decoration: none;
	color: white;
	background-color: rgb(159,26,40);
	border: solid 1px white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	display: block;
	width: 200px;
	font-weight: bold;
}

footer {
	border: solid 1px black;
	background-color: rgb(37,42,71);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

li#registered-tm {
	float: left;
	padding-right: 20px;
}

footer {
	height: 50px;
}

footer ul li {
	list-style-type: none;
}

footer ul li.links {
	padding: 0px;
	float: right;
	padding-right: 20px;
}

li#registered-tm, footer ul li.links a {
	color: white;
}
