body{
	width: 960px;
	padding-left: 12%;
}

header a#deft {
	float: left;
	padding-top: 0px;
}

header h1#slogan {
	color: rgb(159,26,40);
	font-size: 64px;
	padding-top: 50px;
	text-align: center;
}

div.clear {
	clear: both;
}

div#search-zone {
	float: right;
	padding-top: 35px;
}

div#search-zone input#field {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:solid 1px black;
}

img#logo-loupe {
	width: 10px;
	height: 10px;
}

div#search-zone button#button {
	border-radius: 50%;
}
